@page "/"
@page "/advertisements"
@inject NavigationManager NavManager

<h3>Advertisements</h3>

@if (advertisements == null)
{
    <p>Loading</p>
}
else
{
    <div class="contain-fluid">
        <div class="row">
            @foreach (var adv in advertisements)
            {
                <div class="col-xl-4 col-lg-6 mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a href="">
                                    @foreach(var img in adv.ImageUrls)
                                    {
                                        <img src=@img.Url />
                                    }
                                </a>

                                <p class="my-2 text-jusitfy">
                                    <strong>Title:</strong> @adv.Title
                                </p>

                                <p class="my-2 text-jusitfy">
                                    <strong>Description</strong> @adv.Description
                                </p>

                                <p class="my-2 text-jusitfy">
                                    @foreach(var address in adv.addressToTakes)
                                    {
                                        <strong>Address:</strong>
                                        <p>@address.AddressLine1 @address.City @address.ZipCode @address.Country</p>
                                    }
                                </p>

                                <p class="mb-1">
                                    <strong>Created on:</strong> @adv.DateCreated
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <strong>Tags:</strong>
                            <div class="d-flex flex-row">
                                
                                @foreach (var tag in adv.keywords)
                                {
                                    <div style="margin-right: 10px">
                                        <p class="my-2 text-jusitfy">#@tag.TagTitle</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <button @onclick="@(() => { Navigate(adv.Id); })">Edit</button>
                </div>
            }
        </div>
    </div>
}

