@page "/create"

<h1>Create Advertisement</h1>

<div style="width: 500px;">
    <div class="col-md-4">
        <EditForm Model="@advertismentToCreate" OnValidSubmit="@OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Title:</label>
                <InputText id="title" class="form-control" @bind-Value="advertismentToCreate.Title" />
            </div>

            <div class="form-group">
                <label>Description:</label>
                <InputText id="description" class="form-control" @bind-Value="advertismentToCreate.Description" />
            </div>
            
            <div class="form-group">
                <label>UserId:</label>
                <InputNumber id="userid" class="form-control" @bind-Value="advertismentToCreate.UserId" />
            </div>

            <div class="form-group">
                <label>Street:</label>
                <InputText id="street" class="form-control" @bind-Value="advertismentToCreate.addressToTakes[0].AddressLine1" />
            </div>

            <div class="form-group">
                <label>City:</label>
                <InputText id="city" class="form-control" @bind-Value="advertismentToCreate.addressToTakes[0].City" />
            </div>

            <div class="form-group">
                <label>Zip Code:</label>
                <InputText id="zip" class="form-control" @bind-Value="advertismentToCreate.addressToTakes[0].ZipCode" />
            </div>

            <div class="form-group">
                <label>Country:</label>
                <InputText id="country" class="form-control" @bind-Value="advertismentToCreate.addressToTakes[0].Country" />
            </div>

            <button type="submit">Submit</button>
        </EditForm>
    </div>

    <div class="row">       
        <div>            
            @if(@tags != null && tags.Count != 3)
            {
                <div>
                    <input placeholder="Keyword" @bind="tagToCreate.Title" />
                    <button @onclick="AddToTagList">Add to Tags</button>
                    @foreach (var tag in tags)
                    {
                        <p class="my-2 text-jusitfy">
                            <label>@tag.Title</label>
                        </p>
                        <button class="btn btn-danger" @onclick="@(() => { RemoveFromTagList(tag); })">Remove</button>
                    }
                </div>
            }
            else
            {
                <div>
                    @foreach (var tag in tags)
                    {
                        <p class="my-2 text-jusitfy">
                            <label>@tag.Title</label>
                        </p>
                        <button class="btn btn-danger" @onclick="@(() => { RemoveFromTagList(tag); })">Remove</button>
                    }
                </div>

            <p class="my-2 text-jusitfy">
                <label>Max. 3 keywords</label>
            </p>
            }
        </div>
    </div>

</div>


